$base-bg: #fff;
$base-color: #444;
$base-spacing: 10px;
$base-alt-bg: #f2f2f2;
$base-border-color: #c2c2c2;

$rk-cal-bg: $base-alt-bg;
$rk-cal-color: $base-color;
$rk-cal-margin: 0 auto ($base-spacing * 2);
$rk-cal-padding: ($base-spacing/2) 0 0;
$rk-cal-line-height: ($base-spacing * 2);
$rk-cal-border-width: 1px;
$rk-cal-border-color: $base-border-color;
$rk-cal-body-bg: $base-bg;
$rk-cal-month-padding: $base-spacing;
$rk-cal-day-padding: $base-spacing 0;

@import '../reckoning.scss';
