// themes
$screen-sm: 44em;
$screen-md: 66em;
$screen-lg: 88em;

$red: #cc241d;
$green: #689d6a;

$demo-bg: #f7f7f7;
$demo-color: #444;
$demo-padding: 20px;
$demo-border-color: #c2c2c2;
$demo-sub-color: #969696;

$demo-header-bg: $demo-color;
$demo-header-color: $demo-bg;
$demo-header-height: ($demo-padding * 3);

$demo-nav-color: $demo-header-color;
$demo-nav-active-color: $red;

$demo-today-bg: $red;
$demo-today-color: #fff;

$demo-selected-bg: $green;
$demo-selected-color: $demo-bg;

@import 'theme-base/small';

body {
  font-family: sans-serif;
  font-size: 100%;
  color: $demo-color;
  margin: $demo-padding;
}

.page-header {
  background: $demo-header-bg;
  color: $demo-header-color;

  padding: 0;
  margin-bottom: $demo-padding;
  line-height: $demo-header-height;

  text-align: center;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.page-header__title {
  font-weight: bold;
  font-size: 1.15em;
}

.nav,
.nav__item {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: block;
  color: $demo-nav-color;
  text-decoration: none;
  font-size: 0.9em;

  .is-active & {
    background-color: $demo-nav-active-color;
  }
}

@media (min-width: $screen-sm) {
  .page-header {
    text-align: left;
    padding: 0 $demo-padding;
  }

  .page-header__title {
    width: ($screen-sm / 4);
    float: left;
  }

  .page-header__nav {
    display: block;
    overflow: hidden;
  }

  .nav {
    display: inline-block;
    white-space: nowrap;
  }

  .nav__item {
    display: inline-block;
  }

  .nav__link {
    padding: 0 $demo-padding;
  }
}

// quick-n-dirty demo styles
.content-demo-wrap,
.calendar-demo-wrap {
  margin: $demo-padding auto;
  padding: 1px ($demo-padding);
  background: $demo-bg;
  color: $demo-color;
  border: 1px solid $demo-border-color;


  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.calendar-demo-wrap {
  text-align: center;
}

.content-demo {
  max-width: $screen-sm;
  padding: 0 ($demo-padding / 2);
}

.demo-title {
  padding: ($demo-padding / 2);
  text-align: left;
}

.grid-cal,
.grid-cal--wide {
  box-sizing: border-box;
  display: block;
  padding: 0 ($demo-padding / 2);
  vertical-align: top;
  text-align: left;
}

.demo-sub {
  display: inline-block;
  padding: 0 ($demo-padding / 2);
  font-weight: initial;
  font-size: 0.9em;
  color: $demo-sub-color;
}


@media (min-width: $screen-sm) {
  .grid-cal {
    display: inline-block;
    width: 50%;
  }
  .grid-cal--wide {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: $screen-md) {
  .grid-cal {
    width: 33.33%;
  }
  .grid-cal--wide {
    width: 66.67%;
  }
}

@media (min-width: $screen-lg) {
  .grid-cal {
    width: 25%;
  }
  .grid-cal--wide {
    width: 50%;
  }
}

.is-not-month {
  color: $demo-border-color;
}

// demo ranges
.is-range-today {
  .rk-cal__day__num {
    background: $demo-today-bg;
    color: $demo-today-color;

    display: inline-block;
    border-radius: 50%;
    margin: -1em;
    line-height: 2;
    height: 2em;
    width: 2em;
  }
}

.is-range-weekend {
  color: $demo-border-color;
  font-style: italic;
}

.is-range-demo {
  border: 1px solid $demo-border-color;
  font-weight: bold;
}

.is-range-selected {
  background: $demo-selected-bg;
  color: $demo-selected-color;
}

.is-range-invalid {
  background: $demo-bg;
  color: $demo-sub-color;
  cursor: not-allowed;

  &.is-not-month {
    opacity: 0.7;
  }
}
