// Reckoning Styles
//
// Developed with the intention of being
// fully-customized via theme vars only.
// (Advanced themes will stil require custom styles).
//
// Covers Calendars, Controls, Timeline

$screen-sm: 44em !default;
$screen-md: 66em !default;
$screen-lg: 88em !default;

$rk-cal-position: relative !default;
$rk-cal-bg: none !default;
$rk-cal-color: inherit !default;
$rk-cal-width: auto !default;
$rk-cal-margin: 0 auto !default;
$rk-cal-padding: 0 !default;
$rk-cal-border-radius: 0 !default;
$rk-cal-border-width: 0 !default;
$rk-cal-border-style: solid !default;
$rk-cal-border-color: $rk-cal-bg !default;
$rk-cal-border: $rk-cal-border-width $rk-cal-border-style $rk-cal-border-color !default;
$rk-cal-font-family: inherit !default;
$rk-cal-font-weight: normal !default;
$rk-cal-font-size: 1em !default;
$rk-cal-alignment: center !default;
$rk-cal-line-height: inherit !default;
$rk-cal-outline: none !default;

$rk-cal-month-display: table !default;
$rk-cal-month-bg: $rk-cal-bg !default;
$rk-cal-month-color: inherit !default;
$rk-cal-month-width: 100% !default;
$rk-cal-month-margin: 0 !default;
$rk-cal-month-padding: $rk-cal-padding !default;
$rk-cal-month-border-collapse: collapse !default;
$rk-cal-month-border-spacing: 0 !default;
$rk-cal-month-border-radius: $rk-cal-border-radius !default;
$rk-cal-month-border-width: 0 !default;
$rk-cal-month-border-style: $rk-cal-border-style !default;
$rk-cal-month-border-color: $rk-cal-bg !default;
$rk-cal-month-border: $rk-cal-month-border-width $rk-cal-month-border-style $rk-cal-month-border-color !default;
$rk-cal-multi-month-border: $rk-cal-month-border !default;

$rk-cal-head-bg: $rk-cal-bg !default;
$rk-cal-head-color: $rk-cal-color !default;
$rk-cal-head-padding: $rk-cal-month-padding !default;
$rk-cal-head-border-width: 0 !default;
$rk-cal-head-border-style: $rk-cal-border-style !default;
$rk-cal-head-border-color: $rk-cal-head-bg !default;
$rk-cal-head-border: $rk-cal-head-border-width $rk-cal-head-border-style $rk-cal-head-border-color !default;
$rk-cal-head-font-family: inherit !default;
$rk-cal-head-font-weight: $rk-cal-font-weight !default;
$rk-cal-head-font-size: $rk-cal-font-size !default;
$rk-cal-head-alignment: $rk-cal-alignment !default;
$rk-cal-head-line-height: inherit !default;

$rk-cal-body-bg: $rk-cal-bg !default;
$rk-cal-body-border-width: 0 !default;
$rk-cal-body-border-style: $rk-cal-border-style !default;
$rk-cal-body-border-color: $rk-cal-head-bg !default;
$rk-cal-body-border: $rk-cal-body-border-width $rk-cal-body-border-style $rk-cal-body-border-color !default;

$rk-cal-day-padding: $rk-cal-month-padding !default;
$rk-cal-day-border-radius: 0 !default;
$rk-cal-day-border-width: 0 !default;
$rk-cal-day-border-style: $rk-cal-border-style !default;
$rk-cal-day-border-color: $rk-cal-body-bg !default;
$rk-cal-day-border: $rk-cal-day-border-width $rk-cal-day-border-style $rk-cal-day-border-color !default;
$rk-cal-day-vertical-alignment: middle !default;
$rk-cal-day-alignment: $rk-cal-alignment !default;
$rk-cal-day-line-height: inherit !default;
$rk-cal-day-height: auto !default;
$rk-cal-day-outline: none !default;
$rk-cal-day-cursor: default !default;
// this is arbtrary and fixed because calendars are a 5x7 grid
$rk-cal-day-width: (100% / 7);

$rk-cal-head-month-bg: none !default;
$rk-cal-head-month-color: inherit !default;
$rk-cal-head-month-padding: $rk-cal-head-padding !default;
$rk-cal-head-month-alignment: inherit !default;
$rk-cal-head-month-line-height: inherit !default;
$rk-cal-head-month-height: auto !default;
$rk-cal-head-month-visibility: visible !default

$rk-cal-head-weekday-bg: none !default;
$rk-cal-head-weekday-color: inherit !default;
$rk-cal-head-weekday-padding: $rk-cal-day-padding !default;
$rk-cal-head-weekday-alignment: inherit !default;
$rk-cal-head-weekday-line-height: inherit !default;
$rk-cal-head-weekday-height: auto !default;

$rk-cal-controls-position: absolute !default;
$rk-cal-controls-width: 100% !default;
$rk-cal-controls-height: 0 !default;
$rk-cal-controls-bottom: auto !default;
$rk-cal-controls-right: 0 !default;
$rk-cal-controls-left: 0 !default;
$rk-cal-controls-top: 0 !default;

$rk-cal-controls-button-appearance: initial !default;
$rk-cal-controls-button-bg: initial !default;
$rk-cal-controls-button-color: $rk-cal-color !default;
$rk-cal-controls-button-outline: none !default;
$rk-cal-controls-button-border: initial !default;
$rk-cal-controls-button-padding: initial !default;
$rk-cal-controls-button-margin: $rk-cal-head-padding !default;
$rk-cal-controls-button-height: initial !default;
$rk-cal-controls-button-width: initial !default;
$rk-cal-controls-button-icon-size: inherit !default;
$rk-cal-controls-button-line-height: $rk-cal-controls-button-height !default;
$rk-cal-controls-button-border-radius: $rk-cal-border-radius !default;
$rk-cal-controls-button-vertical-align: middle !default;

$rk-cal-controls-wrap-float: none !default;

$rk-cal-controls-previous-float: none !default;
$rk-cal-controls-previous-margin: $rk-cal-controls-button-margin !default;
$rk-cal-controls-previous-before-size: $rk-cal-controls-button-icon-size !default;
$rk-cal-controls-previous-after-size: $rk-cal-controls-button-icon-size !default;
$rk-cal-controls-previous-before-content: none !default;
$rk-cal-controls-previous-after-content: none !default;
$rk-cal-controls-previous-position: static !default;
$rk-cal-controls-previous-bottom: auto !default;
$rk-cal-controls-previous-right: auto !default;
$rk-cal-controls-previous-left: auto !default;
$rk-cal-controls-previous-top: auto !default;

$rk-cal-controls-reset-float: none !default;
$rk-cal-controls-reset-margin: $rk-cal-controls-button-margin !default;
$rk-cal-controls-reset-before-size: $rk-cal-controls-button-icon-size !default;
$rk-cal-controls-reset-after-size: $rk-cal-controls-button-icon-size !default;
$rk-cal-controls-reset-before-content: none !default;
$rk-cal-controls-reset-after-content: none !default;
$rk-cal-controls-reset-position: static !default;
$rk-cal-controls-reset-bottom: auto !default;
$rk-cal-controls-reset-right: auto !default;
$rk-cal-controls-reset-left: auto !default;
$rk-cal-controls-reset-top: auto !default;

$rk-cal-controls-next-float: none !default;
$rk-cal-controls-next-margin: $rk-cal-controls-button-margin !default;
$rk-cal-controls-next-before-size: $rk-cal-controls-button-icon-size !default;
$rk-cal-controls-next-after-size: $rk-cal-controls-button-icon-size !default;
$rk-cal-controls-next-before-content: none !default;
$rk-cal-controls-next-after-content: none !default;
$rk-cal-controls-next-position: static !default;
$rk-cal-controls-next-bottom: auto !default;
$rk-cal-controls-next-right: auto !default;
$rk-cal-controls-next-left: auto !default;
$rk-cal-controls-next-top: auto !default;

// Calendar
//
// A semantic table, with styling hooks.
// The parent .rk-cal element could wrap multiple
// month elements.
.rk-cal {
  position: $rk-cal-position;
  background: $rk-cal-bg;
  color: $rk-cal-color;
  width: $rk-cal-width;

  margin: $rk-cal-margin;
  padding: $rk-cal-padding;
  outline: $rk-cal-outline;
  border: $rk-cal-border;
  border-radius: $rk-cal-border-radius;

  font-family: $rk-cal-font-family;
  font-weight: $rk-cal-font-weight;
  font-size: $rk-cal-font-size;

  text-align: $rk-cal-alignment;
  line-height: $rk-cal-line-height;
}

// table
.rk-cal__month {
  display: $rk-cal-month-display;
  background: $rk-cal-month-bg;
  color: $rk-cal-month-color;
  width: $rk-cal-month-width;

  margin: $rk-cal-month-margin;
  padding: $rk-cal-month-padding;
  border: $rk-cal-month-border;
  border-radius: $rk-cal-month-border-radius;
  border-spacing: $rk-cal-month-border-spacing;
  border-collapse: $rk-cal-month-border-collapse;

  text-align: $rk-cal-alignment;
  line-height: $rk-cal-line-height;
}

// thead
.rk-cal__head {
  background: $rk-cal-head-bg;
  color: $rk-cal-head-color;

  padding: $rk-cal-head-padding;
  border: $rk-cal-head-border;
  border-top-left-radius: $rk-cal-month-border-radius;
  border-top-right-radius: $rk-cal-month-border-radius;

  font-family: $rk-cal-head-font-family;
  font-weight: $rk-cal-head-font-weight;
  font-size: $rk-cal-head-font-size;

  text-align: $rk-cal-head-alignment;
}

// th w/ colspan
.rk-cal__head__month {
  height: $rk-cal-head-month-height;
  background: $rk-cal-head-month-bg;
  color: $rk-cal-head-month-color;

  padding: $rk-cal-head-month-padding;

  text-align: $rk-cal-head-month-alignment;
  line-height: $rk-cal-head-month-line-height;

  visibility: $rk-cal-head-month-visibility;
}

// th
.rk-cal__head__weekday {
  width: $rk-cal-day-width;
  height: $rk-cal-head-weekday-height;
  background: $rk-cal-head-weekday-bg;
  color: $rk-cal-head-weekday-color;

  padding: $rk-cal-head-weekday-padding;

  text-align: $rk-cal-head-weekday-alignment;
  line-height: $rk-cal-head-weekday-line-height;
}

// tbody
.rk-cal__body {
  background: $rk-cal-body-bg;
  border: $rk-cal-body-border;
  border-bottom-left-radius: $rk-cal-month-border-radius;
  border-bottom-right-radius: $rk-cal-month-border-radius;
}

// tr
.rk-cal__body__row {}

// td
.rk-cal__day {
  width: $rk-cal-day-width;
  height: $rk-cal-day-height;

  padding: $rk-cal-day-padding;
  border: $rk-cal-day-border;
  outline: $rk-cal-day-outline;

  text-align: $rk-cal-day-alignment;
  line-height: $rk-cal-day-line-height;
  vertical-align: $rk-cal-day-vertical-alignment;

  cursor: $rk-cal-day-cursor;

  @if $rk-cal-day-border-radius == 0 {
    .rk-cal__body__row:last-child &:first-child {
      border-bottom-left-radius: $rk-cal-month-border-radius;
    }

    .rk-cal__body__row:last-child &:last-child {
      border-bottom-right-radius: $rk-cal-month-border-radius;
    }
  }
}

// span
.rk-cal__day__num {}

// div
.rk-cal__controls {
  position: $rk-cal-controls-position;
  height: $rk-cal-controls-height;
  width: $rk-cal-controls-width;
  bottom: $rk-cal-controls-bottom;
  right: $rk-cal-controls-right;
  left: $rk-cal-controls-left;
  top: $rk-cal-controls-top;
}

.rk-cal__controls__wrap {
  float: $rk-cal-controls-wrap-float;
}

// button
%rk-cal__controls__button {
  color: $rk-cal-controls-button-color;
  margin: $rk-cal-controls-button-margin;
  height: $rk-cal-controls-button-height;
  width: $rk-cal-controls-button-width;
  border-radius: $rk-cal-controls-button-border-radius;
  outline: $rk-cal-controls-button-outline;
  vertical-align: $rk-cal-controls-button-vertical-align;

  @if $rk-cal-controls-button-appearance != initial {
    -webkit-appearance: $rk-cal-controls-button-appearance;
    appearance: $rk-cal-controls-button-appearance;
  }
  @if $rk-cal-controls-button-bg != initial {
    background: $rk-cal-controls-button-bg;
  }
  @if $rk-cal-controls-button-line-height != auto {
    line-height: $rk-cal-controls-button-line-height;
  }
  @if $rk-cal-controls-button-border != initial {
    border: $rk-cal-controls-button-border;
  }
  @if $rk-cal-controls-button-padding != initial {
    padding: $rk-cal-controls-button-padding;
  }
}

.rk-cal__controls__previous {
  @extend %rk-cal__controls__button;
  float: $rk-cal-controls-previous-float;
  position: $rk-cal-controls-previous-position;
  bottom: $rk-cal-controls-previous-bottom;
  right: $rk-cal-controls-previous-right;
  left: $rk-cal-controls-previous-left;
  top: $rk-cal-controls-previous-top;

  @if $rk-cal-controls-previous-margin != $rk-cal-controls-button-margin {
    margin: $rk-cal-controls-previous-margin;
  }
  @if $rk-cal-controls-previous-before-content != none {
    &:before {
      font-size: $rk-cal-controls-previous-before-size;
      content: $rk-cal-controls-previous-before-content;
    }
  }
  @if $rk-cal-controls-previous-after-content != none {
    &:after {
      font-size: $rk-cal-controls-previous-after-size;
      content: $rk-cal-controls-previous-after-content;
    }
  }
}

.rk-cal__controls__reset {
  @extend %rk-cal__controls__button;
  float: $rk-cal-controls-reset-float;
  position: $rk-cal-controls-reset-position;
  bottom: $rk-cal-controls-reset-bottom;
  right: $rk-cal-controls-reset-right;
  left: $rk-cal-controls-reset-left;
  top: $rk-cal-controls-reset-top;

  @if $rk-cal-controls-reset-margin != $rk-cal-controls-button-margin {
    margin: $rk-cal-controls-reset-margin;
  }
  @if $rk-cal-controls-reset-before-content != none {
    &:before {
      font-size: $rk-cal-controls-reset-before-size;
      content: $rk-cal-controls-reset-before-content;
    }
  }
  @if $rk-cal-controls-reset-after-content != none {
    &:after {
      font-size: $rk-cal-controls-reset-after-size;
      content: $rk-cal-controls-reset-after-content;
    }
  }
}

.rk-cal__controls__next {
  @extend %rk-cal__controls__button;
  float: $rk-cal-controls-next-float;
  position: $rk-cal-controls-next-position;
  bottom: $rk-cal-controls-next-bottom;
  right: $rk-cal-controls-next-right;
  left: $rk-cal-controls-next-left;
  top: $rk-cal-controls-next-top;

  @if $rk-cal-controls-next-margin != $rk-cal-controls-button-margin {
    margin: $rk-cal-controls-next-margin;
  }
  @if $rk-cal-controls-next-before-content != none {
    &:before {
      font-size: $rk-cal-controls-next-before-size;
      content: $rk-cal-controls-next-before-content;
    }
  }
  @if $rk-cal-controls-next-after-content != none {
    &:after {
      font-size: $rk-cal-controls-next-after-size;
      content: $rk-cal-controls-next-after-content;
    }
  }
}

@media (min-width: $screen-sm) {
  .rk-cal__month.is-1-of-2,
  .rk-cal__month.is-2-of-2 {
    display: inline-table;
    width: 50%;
  }

  .rk-cal__month.is-1-of-4 {
    &, & ~ .rk-cal__month {
      display: inline-table;
      width: 50%;
    }
  }

  .rk-cal__month.is-2-of-2 {
    border-left: $rk-cal-multi-month-border;
  }
}

@media (min-width: $screen-md) {
  .rk-cal__month.is-1-of-3 {
    &, & ~ .rk-cal__month {
      display: inline-table;
      width: 33.3%;
    }
    & ~ .rk-cal__month {
      border-left: $rk-cal-multi-month-border;
    }
  }
}

@media (min-width: $screen-lg) {
  .rk-cal__month.is-1-of-4 {
    &, & ~ .rk-cal__month {
      display: inline-table;
      width: 25%;
    }
    & ~ .rk-cal__month {
      border-left: $rk-cal-multi-month-border;
    }
  }
}
